@charset "utf-8";
/* CSS Document */
body {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p
{
	text-align:left;
	color:rgb(20, 65, 107);
	font-size: larger;
	font-weight:bolder
}
ul
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:smaller;
	font-weight:normal
}
ol
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:smaller;
	font-weight:normal;
	color:#06C
}

#L1{background-color:#e1ffff;}
#L2{background-color:#c7d6e7;}


